@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer utilities {

    /* Scrollbar Styles */
    ::-webkit-scrollbar {
        width: 12px;
    }

    ::-webkit-scrollbar-track {
        background: theme('colors.scrollbar');
    }

    ::-webkit-scrollbar-thumb {
        background-color: theme('colors.scrollbar-thumb');
        border-radius: 6px;
        border: 3px solid theme('colors.scrollbar');
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: theme('colors.scrollbar-thumb-hover');
    }
}

/* This file is for your main application CSS */

.welcome-component {
    position: relative;
    text-align: center;
}

.scroll-indicator {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.scroll-button {
    display: inline-block;
    cursor: pointer;
}

.scroll-button:hover {
    color: #ff4500;
}

.bubble {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}

.bubble1 {
    width: 120px;
    height: 120px;
    top: 20%;
    left: 15%;
}

.bubble2 {
    width: 80px;
    height: 80px;
    top: 60%;
    right: 20%;
}

.bubble3 {
    width: 150px;
    height: 150px;
    top: 66%;
    left: 26%;
}

.token-box {
    transition: transform 0.3s ease-in-out;
}